D:\0_UTN_FS\M1\U2\excer_git\privado.txt
\privado.txt
excer_git\privado.txt
D:\\0_UTN_FS\M1\U2\excer_git\privado.txt
D:/0_UTN_FS/M1/U2/excer_git/privado.txt
excer_git/privado.txt
D://0_UTN_FS/M1/U2/excer_git/privado.txt
privado.txt


